<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.mapper.CubeDimensionExecLogMapper">

    <resultMap id="CubeDimensionExecLog" type="com.xxl.job.admin.core.model.CubeDimensionExecLog">
        <result column="id" property="id"/>

        <result column="cube_id" property="cubeId"/>
        <result column="dim_id" property="dimId"/>
        <result column="job_id" property="jobId"/>
        <result column="statistical_time" property="statisticalTime"/>
        <result column="business_start_time" property="businessStartTime"/>
        <result column="business_end_time" property="businessEndTime"/>
        <result column="job_log_id" property="jobLogId"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
        t.cube_id,
        t.dim_id,
        t.job_id,
        t.statistical_time,
        t.business_start_time,
        t.business_end_time,
        t.job_log_id
    </sql>

    <insert id="save" parameterType="com.xxl.job.admin.core.model.CubeDimensionExecLog" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO CUBE_DIMENSION_EXEC_LOG (
            cube_id,
            dim_id,
            job_id,
            statistical_time,
            business_start_time,
            business_end_time,
            job_log_id
        ) VALUES (
            #{cubeId},
            #{dimId},
            #{jobId},
        NOW(),
            #{businessStartTime},
            #{businessEndTime},
            #{jobLogId}
        )
    </insert>

    <select id="loadById" parameterType="java.util.HashMap" resultMap="CubeDimensionExecLog">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_EXEC_LOG AS t
        WHERE t.id = #{id}
    </select>

    <select id="loadByJobLogId" parameterType="java.util.HashMap" resultMap="CubeDimensionExecLog">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_EXEC_LOG AS t
        WHERE t.job_log_id = #{jobLogId}
    </select>

    <update id="update" parameterType="com.xxl.job.admin.core.model.CubeDimensionExecLog">
        UPDATE CUBE_DIMENSION_EXEC_LOG
        SET
            cube_id             = #{cubeId},
            dim_id              = #{dimId},
            job_id              = #{jobId},
            statistical_time    = #{statisticalTime},
            business_start_time = #{businessStartTime},
            business_end_time   = #{businessEndTime},
            job_log_id          = #{jobLogId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.util.HashMap">
        DELETE
        FROM CUBE_DIMENSION_EXEC_LOG
        WHERE id = #{id}
    </delete>

    <delete id="deleteByCubeId" parameterType="java.util.HashMap">
        DELETE
        FROM CUBE_DIMENSION_EXEC_LOG
        WHERE cube_id = #{cubeId}
    </delete>

    <select id="getLastOneLogByJobId" parameterType="java.util.HashMap" resultMap="CubeDimensionExecLog">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_EXEC_LOG AS t
        WHERE t.job_id = #{jobId}
        order by statistical_time desc
        LIMIT 1
    </select>

</mapper>