<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.mapper.CubeDimensionInfoMapper">

    <resultMap id="CubeDimensionInfo" type="com.xxl.job.admin.core.model.CubeDimensionInfo">
        <result column="id" property="id"/>

        <result column="cube_id" property="cubeId"/>
        <result column="table_name" property="tableName"/>
        <result column="description" property="description"/>
        <result column="select_sql" property="selectSql"/>
        <result column="where_sql" property="whereSql"/>
        <result column="groupby_sql" property="groupbySql"/>
        <result column="having_sql" property="havingSql"/>
        <result column="save_mode" property="saveMode"/>
        <result column="job_id" property="jobId"/>
        <result column="jdbc_url" property="jdbcUrl"/>
        <result column="jdbc_username" property="jdbcUsername"/>
        <result column="jdbc_password" property="jdbcPassword"/>
        <result column="jdbc_driver" property="jdbcDriver"/>
        <result column="jdbc_batchsize" property="jdbcBatchsize"/>

    </resultMap>

    <sql id="Base_Column_List">
        t.id,
        t.cube_id,
        t.table_name,
        t.description,
        t.select_sql,
        t.where_sql,
        t.groupby_sql,
        t.having_sql,
        t.save_mode,
        t.job_id,
        t.jdbc_url,
        t.jdbc_username,
        t.jdbc_password,
        t.jdbc_driver,
        t.jdbc_batchsize
    </sql>

    <insert id="save" parameterType="com.xxl.job.admin.core.model.CubeDimensionInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO CUBE_DIMENSION_INFO (
            cube_id,
            table_name,
            description,
        select_sql,
        where_sql,
        groupby_sql,
        having_sql,
            save_mode,
            job_id,
            jdbc_url,
            jdbc_username,
            jdbc_password,
            jdbc_driver,
            jdbc_batchsize
        ) VALUES (
            #{cubeId},
            #{tableName},
            #{description},
        #{selectSql},
        #{whereSql},
        #{groupbySql},
        #{havingSql},
            #{saveMode},
            #{jobId},
            #{jdbcUrl},
            #{jdbcUsername},
            #{jdbcPassword},
            #{jdbcDriver},
            #{jdbcBatchsize}
        )
    </insert>

    <select id="loadById" parameterType="java.util.HashMap" resultMap="CubeDimensionInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_INFO AS t
        WHERE t.id = #{id}
    </select>

    <select id="loadByJobId" parameterType="java.util.HashMap" resultMap="CubeDimensionInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_INFO AS t
        WHERE t.job_id = #{jobId}
    </select>

    <update id="update" parameterType="com.xxl.job.admin.core.model.CubeDimensionInfo">
        UPDATE CUBE_DIMENSION_INFO
        SET
            cube_id        = #{cubeId},
            table_name     = #{tableName},
            description    = #{description},
        select_sql = #{selectSql},
        where_sql = #{whereSql},
        groupby_sql = #{groupbySql},
        having_sql = #{havingSql},
            save_mode      = #{saveMode},
            job_id         = #{jobId},
            jdbc_url       = #{jdbcUrl},
            jdbc_username  = #{jdbcUsername},
            jdbc_password  = #{jdbcPassword},
            jdbc_driver    = #{jdbcDriver},
            jdbc_batchsize = #{jdbcBatchsize}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.util.HashMap">
        DELETE
        FROM CUBE_DIMENSION_INFO
        WHERE id = #{id}
    </delete>

    <delete id="deleteByCubeId" parameterType="java.util.HashMap">
        DELETE
        FROM CUBE_DIMENSION_INFO
        WHERE cube_id = #{cubeId}
    </delete>

    <select id="getDimensionInfoByCubeId" parameterType="java.util.HashMap" resultMap="CubeDimensionInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_INFO AS t
        WHERE t.cube_id = #{cubeId}
    </select>

    <select id="getDimensionInfoByDimTableName" parameterType="java.util.HashMap" resultMap="CubeDimensionInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM CUBE_DIMENSION_INFO AS t
        WHERE t.cube_id = #{cubeId}
        and t.table_name = #{dimTableName}
    </select>

</mapper>